@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>

<script type="text/javascript">

    var require = {
        paths: {
            spec: '../app/spec',
            services: '../app/services',
            factory: '../app/factory'
        }
    }

</script>
<script type="text/javascript" src="~/Scripts/require.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/sinon-1.9.0.js"></script>
</head>

<body>
      <script type="text/javascript">

          require([
              'spec/configurationServiceSpec',
              'spec/configurationServiceFactorySpec',
              'spec/categoryServiceSpec',
            ],
            function () {
              jasmine.getEnv().addReporter(new jasmine.HtmlReporter());
              jasmine.getEnv().execute();
            });

          define('jquery', function () { return jQuery; });
  </script>
</body>
</html>
