<form data-bind="submit: add" style="padding: 10px 10px 10px 10px">

<!-- Select Basic -->
<div class="input-control select">
    <select id="category" name="category" data-bind="options: categories,
    optionsText: function (item) {
        return item.Name
    },
    value: selectedCategory,
    optionsCaption: 'Choose...'">
    </select>
</div>

<!-- Text input-->
<div class="input-control text">
    <input id="description" name="description" type="text" placeholder="Expense description"
     data-bind="value: description">
</div>

<!-- Text input-->
<div class="input-control text">
    <input id="Amount" name="Amount" type="text" placeholder="Amount" data-bind="value: amount">
</div>

<!-- Text input-->
<div class="input-control text">
    <input id="transactionDate" name="TransactionDate" type="date" data-bind="value: transactionDate">
</div>


<!-- Button -->

    <button id="addExpenseButton" name="addExpenseButton" class="btn-clear">Add</button>

</form>